<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JSP</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 2020 11 09 -->
	<servlet>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>Study.JSP_2020_11_09.test.MyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>/20201109_MyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyServlet2</servlet-name>
		<servlet-class>Study.JSP_2020_11_09.test2.MyServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet2</servlet-name>
		<url-pattern>/20201109_MyServlet2</url-pattern>
	</servlet-mapping>

	<!-- 2020 11 10 -->
	
	
	<!-- 2020 11 11 -->
	<!-- MyTestServer4에서 호출 -->
	<context-param>
		<param-name>name</param-name>
		<param-value>admin</param-value>
	</context-param>

	<servlet>
		<servlet-name>MyServlet10</servlet-name>
		<!-- <servlet-class>com.test.MyServlet10</servlet-class> -->
		<servlet-class>Study.JSP_2020_11_11.testWeb3.MyServlet10</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet10</servlet-name>
		<url-pattern>/MyServlet10</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>MyFilter</filter-name>
		<!-- <filter-class>com.test.MyFilter</filter-class> -->
		<filter-class>Study.JSP_2020_11_11.testWeb3.MyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>/MyServlet10</url-pattern>
	</filter-mapping>

	<!-- 2020 11 12 -->
	<servlet>
		<servlet-name>20201112_MyServlet10</servlet-name>
		<servlet-class>Study.JSP_2020_11_12.test.MyServlet10</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>20201112_MyServlet10</servlet-name>
		<url-pattern>/20201112_MyServlet10</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>20201112_MyFilter</filter-name>
		<filter-class>Study.JSP_2020_11_12.test.MyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>20201112_MyFilter</filter-name>
		<url-pattern>/20201112_MyServlet10</url-pattern>
	</filter-mapping>

	<!-- 2020 11 13 -->
	<servlet>
		<servlet-name>test2</servlet-name>
		<jsp-file>/test2.jsp</jsp-file>
		<init-param>
			<param-name>test2Value</param-name>
			<param-value>1234</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>test2</servlet-name>
		<url-pattern>/test2</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>test3Value</param-name>
		<param-value>4321</param-value>
	</context-param>
</web-app>